<h2>Détails de l’auteur</h2>

<img src="{{ author.picture }}" alt="{{ author.username }}" width="150"><br><br>

<strong>Nom :</strong> {{ author.username }}<br>

<strong>Nom :</strong> {{ author.username }}<br>
<strong>Email :</strong> {{ author.email }}<br>
<strong>Nombre de livres :</strong> {{ author.nb_books }}<br><br>

<a href="{{ path('authors_list') }}">⬅ Retour à la liste</a>
